@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>Code of Ethics</h1>
<p>
RED exists to increase the awareness and promote the reform of RFID credentials by exposing weaknesses in current implementation and use. Users of the site are expected to abide by the following code of ethics when participating in the services provided.</p>
<ul>
<li>Do not clone a credential / tamper a Physical Access Control System (PACS) that you do not have permission to.</li>
<li>Do not tamper with PACS you rely on.</li>
<li>The rules are subject to change as circumstances evolve.</li>
</ul>

<h1>Terms of Service</h1>

<p>
    Welcome to RFID EXposure Database (RED), a data mining and deep web asset search engine. By using the search engine "RED" (hereinafter the "service"), the user (hereinafter the "user") agrees to and agrees to abide by the following terms and conditions (the "Terms of Use") provided by RED and its affiliated domains. The Terms of Use govern your (as defined below) access to and use of the Services. If you agree on behalf of your employer or other entity, by clicking the "I Agree" button, you represent and warrant to RED that (a) you have the appropriate legal authority to act on behalf of your employer or other entity and be bound by these Terms of Use; (b) you have read and understand the Terms of Use; and (c) you agree to the Terms on behalf of the party you are representing. If you do not have the legal authority to bind the party you are representing, do not check the "I agree" box when registering.
</p>
<p>
This User Agreement is a contract between you (the "User") and RED and governs your use of the RED website, whether via the Internet or a mobile application. Please note that there are other relevant documents contained in these Terms and Conditions. By signing up for a RED account through the website or mobile application, you as a user acknowledge that you have read, understood, and accepted all of the terms and conditions contained in this Agreement, including but not limited to the Privacy Policy, etc. Please read each relevant document carefully before agreeing to the terms and conditions in this Agreement.
</p>

<h2>General Provisions</h2>

<p>
    If you violate our Terms of Service, your account will be closed immediately without any compensation. You may use the Service only for the intended purpose. By logging in, registering, or using the Services, you agree to our Terms of Service. You also agree that RED may use your company logo for marketing purposes only.
</p>
<p>
    All data provided is retrieved from public sources and user submissions. RED does not verify or evaluate each piece of data and makes no guarantees or promises with respect to the information provided. RED is not responsible for any damages that may occur as a result of the use of our services. By using our services, you take full responsibility for your actions.
</p>
<p>
    The Terms of Use are subject to change or modification at any time without notice. You may not misuse or misuse the Service in any way. By accessing our website, you agree that the laws and laws of our State shall apply to all matters relating to your use of this website and the purchase of goods or services through this site, without regard to conflict of laws and the United Nations Convention on Contracts for the International Sale of Goods.
</p>
<p>
    You may not use RED.db or any information obtained from RED.db to:
</p>
<ul>
    <li>engage in activities that violate any applicable local, state, national, or international law or any regulation that has legal force, including any laws, regulations, or ordinances in the jurisdiction in which you access RED.db.</li>
    <li>
        use information in any manner that may violate any local, state, federal, or international privacy laws to which you may apply based on your location or the location of the person being searched.
    </li>
</ul>

<h2>Updates to the Policy</h2>
<p>
    RED may change this policy from time to time. If there are any material changes, we will notify you through our website. You have the right to withdraw your consent to data collection at any time, unless consent is required to provide you with the service or product you request.
</p>


<h2>Applicability of Laws and Regulations</h2>
<p>
    Your use of and access to the RED Website is subject to all applicable governmental or regulatory laws, regulations and regulations, including, but not limited to, all applicable tax, anti-money laundering, securities compliance, and anti-terrorist financing laws and regulations. If your country of residence is within the European Economic Area, your privacy concerns relating to the relevant documents and amendments pursuant to this Agreement and the Privacy Policy will be governed by the General Data Protection Regulation. However, in accordance with our Privacy Policy, we only collect your email address. Activation of your account and use of the Website is subject to your compliance with all terms of this Agreement, and you agree to be legally bound by this Agreement and all applicable laws and regulations. Failure to comply may result in suspension of your use of the website and/or closure of your account.
</p>


<h2>Registration</h2>
<p>
    By opening an account to use the RED Services, whether through the Internet, the Website or the Mobile App, you expressly represent and warrant that you are at least 18 years of age and agree to the terms and conditions set forth in this User Agreement.
</p>


<h2>Governing Law</h2>




<h2>Warranties and Liability</h2>
<p>
    We represent that our service is of high quality. However, due to factors beyond our control, we cannot guarantee 100% effectiveness.
</p>
<p>
To the extent permitted by law, RED disclaims any liability in connection with your use of (or connection to) RED.db for:</p>
<ul>
    <li>any consequential, incidental, exemplary, special, or punitive damages in connection with your use of (or connection to) RED.db, even if advised of the possibility of such damages.</li>
    <li>
        any loss of business, profits, business information, business interruption, or other pecuniary loss in connection with the use of (or connection to) RED.db.
    </li>
    <li>
        any direct damages in excess of US$100 that have been proven in practice; this limitation applies even if the original purpose of the exclusive remedy ceases to be achieved.
    </li>
</ul>
<p>
    RED reserves the right, in RED's sole and exclusive discretion, to modify, amend, suspend or terminate any RED.db, any service, information, content, or any portion thereof, and/or your use of or access thereto, at any time and with or without notice. RED will not be liable to you or any other person or entity for any modification, suspension, termination, or loss of related information.
</p>
<p>
    You agree to defend, indemnify, and hold RED, its officers, directors, employees, agents, licensors, and suppliers harmless from and against any and all claims, suits, demands, liabilities, and settlements (including, without limitation, reasonable attorneys' fees and related expenses) arising out of or alleged to be your breach of these Terms or your use of the RED.db.
</p>


<h2>Entire Agreement</h2>
<p>
    This Agreement constitutes the entire agreement between the parties with respect to your use of the RED Website and may not be modified unless there is a written agreement signed and notarized by the User and RED. This Agreement supersedes all prior communications, contracts, or agreements between the parties relating to the use of the RED services. If any provision of this Agreement is found by a court or arbitrator to be unenforceable or invalid, such provision shall be limited or eliminated only to the minimum extent necessary for the remaining provisions of this Agreement to remain in full force and effect and enforceable between the parties. RED may change, modify, modify, suspend, discontinue, or remove the services and/or terms of use set forth in this Agreement for any reason provided. Regardless, the User agrees to be bound by the terms and conditions of this Agreement as modified. In addition, as mentioned above, continuing to use the service after the change shall mean acceptance of the change.
</p>

