@page
@using REDRFID.Areas.Identity.Pages.Account
@model REDRFID.Areas.Identity.Pages.Account.SignedOutModel
@{
}
<h1>Signed Out</h1>
<p>Redirecting to Welcome page.  Thank you for your session with us.</p>
<script type="text/javascript">
    await delay(3000);
</script>