@using System.Security.Principal
@using Microsoft.Extensions.Logging
@using REDRFID.Models.User
@using REDRFID.Services


@{

    // Pull values from User Claims if available.
    if (User.Identity?.IsAuthenticated == true)
    {
        /*
        // Place those values in a UserClaims object and log the user's identity.
        UserClaims userClaims = new UserClaims
        {
            Claims = User.Claims
        };

        // Log the user's info.
        if (ViewData["logger"] is ILogger<IndexModel> logger)
        {
            LoggingHelper.LogUserClaims(userClaims, logger, "_LoginPartial.cshtml");
        }
        */
    }


    // Provide feedback values to the UI
    var givenName = User.Claims.FirstOrDefault(c => c.Type == "name")?.Value;
    var email = User.Claims.FirstOrDefault(c => c.Type == "email")?.Value;


}

<ul class="navbar-nav">
@if (User.Identity?.IsAuthenticated == true)
{
        <span class="navbar-text text-dark">Hello @givenName! @email </span>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </li>
}
else
{
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </li>
}
</ul>
